body {
  background-image: url('images/product_7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.product-card {
  margin-bottom: 20px;
}
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}
.header {
  margin-bottom: 20px;
}

.webpage-brand{
  width: 50%;
}

.modal-dialog {
  max-width: 100%;
}